<section class="orientation container-xxl">
  <h2 class="main-title">ACOMPAÑAMIENTO Y ORIENTACIÓN.</h2>
  <div
    class="content d-flex flex-column justify-content-center align-items-center"
  >
    <div class="">
      <img
        src="/assets/recibircapacitacion.svg"
        alt="Estudiantes en orientación"
      />
    </div>
    <div class="text-container">
      <div
        class="item p-3 rounded-2"
        style="
          background: linear-gradient(
            to left,
            rgba(2, 41, 78, 0.404),
            rgba(5, 36, 175, 0.322)
          );
        "
      >
        <h2>Plan Padrino</h2>
        <p class="text-black">
          Es una estrategia que busca establecer un contacto entre los
          estudiantes que recién ingresan y sus compañeros de semestres
          superiores y egresados, con el objetivo de que estos los acompañen de
          acuerdo a su experiencia recorrida en la universidad.
        </p>
      </div>
      <div
        class="item"
        style="
          background: linear-gradient(
            to left,
            rgba(2, 41, 78, 0.404),
            rgba(5, 36, 175, 0.322)
          );
        "
      >
        <h2>Asesorías Socio-pedagógicas</h2>
        <p class="text-black">
          Las asesorías socio-educativas son espacios de encuentro, escucha y
          apoyo a los estudiantes en estado de vulnerabilidad.
        </p>
      </div>
      <div
        class="item"
        style="
          background: linear-gradient(
            to left,
            rgba(2, 41, 78, 0.404),
            rgba(5, 36, 175, 0.322)
          );
        "
      >
        <h2>Acompañamiento Ocupacional</h2>
        <p class="text-black">
          Son encuentros entre los estudiantes nuevos con egresados de
          Ingeniería de Sistemas con el propósito de conversar sobre temas
          relacionados con el mundo laboral.
        </p>
      </div>
    </div>
  </div>
</section>
