<div id="map-container">
  <iframe
    id="map"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdT_GHiyQffXs_dSyIqwDldDQZ-lQQWcw
    &q=Fundacion+Antivirus+para+la+Desercion/@6.1546047,-75.629723,19z">
  </iframe>
</div>

<div class="contact-info">
  <div class="address">
    <h2>Sede principal</h2>
    <p>Cl. 79 S 50-69 La Estrella</p>
    <p>Medellín - Antioquia - Colombia</p>
    <p>contactenos&#64;fundacionantivirusparaladesercion.org</p>
  </div>
  <div class="whatsapp">
    <p>WhatsApp</p>
    <p class="number">3173831481</p>
  </div>
</div>

