<div class="wrapper">
    <div class="item item1">
        <div class="contenedor">
            <h1>MEDELLÍN VALLE DEL SOFTWARE-MVS</h1>
            <button>Leer mas...</button>
        </div>
        <img src="assets/grid-article-3-noticias(1).png" alt="">
    </div>

    <div class="item item2">
        <img class="img2" src="assets/grid-article-3-noticias(3).png" alt="">
        <h1 class="text2">PONENCIA EN CONGRESO INTERNACIONAL DE COMUNICACIONES</h1>
        <button>Leer mas...</button>
    </div>
    
    <div class="item item3">
        <img class="img3" src="assets/grid-article-3-noticias(2).png" alt="">
        <div class="contenedor">
            <h1>RECIBIMOS MENCIÓN HONORÍFICA</h1>
            <button>Leer mas...</button>
        </div>
    </div>
</div>