<div
    class="d-flex justify-content-center align-items-center custom-bg custom-h border-bottom border-4 border-secondary">
    <h1 class="text-white">INTERVENCIÓN SOCIO-EMOCIONAL</h1>
</div>
<div class="container d-flex mt-5">
    <div class="text lh-lg fs-3">
        <p>Es el campo de acción de la fundación que pretende identificar y comprender las particularidades del contexto sociocultural y socioemocional de los estudiantes, para influir, transformar e impactar significativamente en sus condiciones y su proceso formativo, a través de herramientas y alternativas de acompañamiento sociopedagógico.</p>
        <p>El equipo social está compuesto por trabajadores sociales y psicólogos encargados de diseñar y ejecutar estrategias de fortalecimiento académico, apoyo psicoemocional y sociopedagógico. Esta área cuenta con las siguientes líneas de intervención social:</p>
    </div>
    <img src="assets/text-image-intervencion.png" class="custome-img" alt="">
</div>