<div class="d-flex justify-content-center align-items-center custom-bg custom-h border-bottom border-4 border-secondary">
    <h1 class="text-white">INTERVENCIÓN SOCIO-EMOCIONAL</h1>
</div>
<div class="container d-flex mt-5">
    <div class="text">
        <p>Es el campo de acción de la fundación que pretende identificar y comprender las particularidades del contexto sociocultural y socioemocional de los estudiantes, para influir, transformar e impactar significativamente en sus condiciones y su proceso formativo, a través de herramientas y alternativas de acompañamiento socio pedagógico.</p>
        <p>El equipo social está compuesto por trabajadores sociales y psicológos</p>
    </div>
    <div class="image">
        <img src="assets/text-image-intervencion.png" alt="">
    </div>
</div>