<div class="container-xxl">
  <div
    class="d-flex justify-content-center align-items-center custom-bg custom-h border-bottom border-4 border-secondary"
  >
    <h2
      class="text-center justify-content-center text-white"
      style="font-family: Impact"
    >
      INTERVENCIÓN SOCIO-EMOCIONAL
    </h2>
  </div>
  <div class="row mt-5">
    <div
      class="col-6 text lh-lg fs-5 align-items-center text-start custom-class text-black"
      style="font-family: 'Acumin'"
    >
      <p>
        Es el campo de acción de la fundación que pretende identificar y
        comprender las particularidades del contexto sociocultural y
        socioemocional de los estudiantes, para influir, transformar e impactar
        significativamente en sus condiciones y su proceso formativo, a través
        de herramientas y alternativas de acompañamiento sociopedagógico.
      </p>
      <p>
        El equipo social está compuesto por trabajadores sociales y psicólogos
        encargados de diseñar y ejecutar estrategias de fortalecimiento
        académico, apoyo psicoemocional y sociopedagógico. Esta área cuenta con
        las siguientes líneas de intervención social:
      </p>
    </div>
    <div class="img-fluid col-6">
      <img
        src="assets/text-image-intervencion.png"
        class="custome-img"
        alt=""
      />
    </div>
  </div>
</div>
