<div class="contact-section">
    <div class="contact-form-container">
        <div class="contact-image">
            <h1 class="contact-title">Llámanos o escríbenos</h1>
            <img src="/assets/javiform.svg" alt="Imagen de contacto">
        </div>
        <div class="contact-form-wrapper">
            <form id="contact-form">
                <input type="text" id="name" name="name" placeholder="Nombre Completo" requiered>
                <input type="email" id="email" name="email" placeholder="Correo Electrónico" requiered>
                <input type="tel" id="phone" name="phone" placeholder="Teléfono/Móvil" requiered>
                <input type="text" id="subject" name="subject" placeholder="Asunto" requiered>
                <textarea id="message" name="message" placeholder="Mensaje" required></textarea>
                <button type="submit" id="submit-btn" disabled>Enviar mensaje</button>
                <p>Acepto las condiciones de tratamiento de datos al enviar el mensaje.</p>
            </form>
        </div>
    </div>

</div>