<div class="cuerpo position-relative align-items-center container-xxl">
    <div class="image-container position-absolute z-1">
        <img src="assets/imagennoti[1].svg" alt="XI CLABES">
    </div>
    <div class="container d-flex justify-content-end z-0">
        <div class="text-container w-75">
            <h2 class="fs-4 text-white">PARTICIPACIÓN EN EL XI CONGRESO LATINOAMERICANO SOBRE ABANDONO EN EDUCACIÓN SUPERIOR</h2>
            <button>Leer más...</button>
        </div>
    </div>
</div>