<div class="wrapper">
    <h1 class="title">Nuestros Servicios</h1>
    <ul class="carousel">
        <li class="card">
            <div class="info-container">
            <h2>Pro-Vocación</h2>
            <p>Es una iniciativa diseñada para ayudar a las personas a descubrir y desarrollar su pasión por una carrera deseada. Este programa tiene como objetivo principal impulsar el deseo de estudiar y dedicarse a una profesión que realmente les motive y les permita alcanzar su máximo potencial.</p>
            </div>
            <img src="assets/grupo.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Asesoria sociopedagógica</h2>
                <p>Es un servicio integral que busca proporcionar apoyo y orientación a estudiantes, padres y docentes para fomentar el desarrollo académico, personal y social de los alumnos. Este tipo de asesoría es fundamental para crear un entorno educativo inclusivo y motivador que promueva el éxito y bienestar de todos los miembros de la comunidad educativa.</p>
            </div>
            <img src="assets/señora-riendo.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Test sociovocacional</h2>
                <p>Es una herramienta de evaluación diseñada para ayudar a los individuos a descubrir sus intereses, habilidades y preferencias en relación con el ámbito profesional. Este test combina aspectos sociales y vocacionales para ofrecer una visión integral de las posibles carreras y campos de estudio que mejor se ajusten a la personalidad y las capacidades de cada persona.</p>
            </div>
            <img src="assets/tomando-foto-al-piso.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad alias deserunt, necessitatibus autem praesentium suscipit voluptatum voluptas omnis accusamus consectetur laudantium cum aut possimus, maxime blanditiis voluptatibus a earum! Repudiandae?</p>
            </div>
            <img src="assets/OIP.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad alias deserunt, necessitatibus autem praesentium suscipit voluptatum voluptas omnis accusamus consectetur laudantium cum aut possimus, maxime blanditiis voluptatibus a earum! Repudiandae?</p>
            </div>
            <img src="assets/OIP.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad alias deserunt, necessitatibus autem praesentium suscipit voluptatum voluptas omnis accusamus consectetur laudantium cum aut possimus, maxime blanditiis voluptatibus a earum! Repudiandae?</p>
            </div>
            <img src="assets/OIP.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad alias deserunt, necessitatibus autem praesentium suscipit voluptatum voluptas omnis accusamus consectetur laudantium cum aut possimus, maxime blanditiis voluptatibus a earum! Repudiandae?</p>
            </div>
            <img src="assets/OIP.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad alias deserunt, necessitatibus autem praesentium suscipit voluptatum voluptas omnis accusamus consectetur laudantium cum aut possimus, maxime blanditiis voluptatibus a earum! Repudiandae?</p>
            </div>
            <img src="assets/OIP.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>

        <li class="card">
            <div class="info-container">
                <h2>Lorem ipsum</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad alias deserunt, necessitatibus autem praesentium suscipit voluptatum voluptas omnis accusamus consectetur laudantium cum aut possimus, maxime blanditiis voluptatibus a earum! Repudiandae?</p>
            </div>
            <img src="assets/OIP.jpg" alt="" draggable="false">
            <button>¡LO QUIERO!</button>
        </li>
    </ul>
    <div class="arrows">
        <p class="i" id="left">&lt;</p>
        <p class="i" id="right">&gt;</p>
    </div>
</div>   