<!-- <p>carousel-cards-servicio works!</p> -->
<div class="container">
    <h1 class="d-flex justify-content-center">Nuestros Servicios</h1>
    <div class="slider-wrapper">
        <div class="card-list">
            <div class="card-item">
                <div class="text-container">
                    <h2>Pro-Vocación</h2>
                    <p>Es una iniciativa diseñada para ayudar a las personas a descubrir y desarrollar su pasión por una carrera deseada. Este programa tiene como objetivo principal impulsar el deseo de estudiar y dedicarse a una profesión que realmente les motive y les permita alcanzar su máximo potencial.</p>
                </div>
                <img src="assets/service-card1.svg" alt="">
                <button>¡LO QUIERO!</button>
            </div>
        </div>
    </div>

</div>