<p>footer works!</p>
<footer class="footer">
    <ul class="footer">
       
        <li class="Menu-elem">
            <a href="" class="footer-inicio">Inicio</a>
        </li>
             <ul class="sub-menu">
                <li class="sub-menu-elem"></li>
                     <a href="" class="sub-menu">Acerca de nosotros</a>
                 <li class="sub-menu-elem"></li>
                     <a href="" class="sub-menu">Contactos</a>
             </ul>
       
        <li class="Menu-elem">
            <a href="" class="footer-Servicio">Servicios</a>
        </li>
             <ul class="sub-menu">
                 <li class="sub-menu-elem"></li>
                    <a href="" class="sub-menu">Consultorías e implementación de proyectos</a>
                 <li class="sub-menu-elem"></li>
                    <a href="" class="sub-menu">Estudiantes</a>
             </ul>        
       
       
      <li class="Menu-elem">
            <a href="" class="footer-Oportunidades">Oportunidades</a>
        </li> 
             <ul class="sub-menu">
                <li class="sub-menu-elem"></li>
                     <a href="" class="sub-menu">Noticias</a>
                 <li class="sub-menu-elem"></li>
                     <a href="" class="sub-menu">Contactanos</a>
             </ul>        
                

         <li class="Menu-elem">
            <a href="" class="footer-Nosotros">Nosotros</a>
         </li>
             <ul class="sub-menu">
                 <li class="sub-menu-elem"></li>
                    <a href="" class="sub-menu">Analítica de datos</a>
                 <li class="sub-menu-elem"></li>
                     <a href="" class="sub-menu">Intervención socio emocional</a>
                 <li class="sub-menu-elem"></li>
                     <a href="" class="sub-menu">Comunicaciones</a>    
             </ul>       
         
         <p class="text">Llámanos o escríbenos.</p>
         <p class="text">Por e-mail</p>
         <p class="text">Por WhatsApp</p>
         <p class="text">REDES:</p>
    </ul>



</footer>