<footer class="footer d-flex pt-5 pb-5">
    <div>
        <img src="/assets/LogoFATV.png" />
        <div> <strong>
            <h2 class="text-center text-light">REDES:</h2>
            </strong>

            <div class="ps-2">
                <a href="#"><img src="/assets/WhatsApp.svg" alt="WhatsApp" width="30px"></a>
                <a href="#"><img src="/assets/Instagram.svg" alt="Instagram" width="30px"></a>
                <a href="#"><img src="/assets/YouTube.svg" alt="YouTube" width="30px"></a>
                <a href="#"><img src="/assets/TikTok.svg" alt="TikTok" width="30px"></a>
                <a href="#"><img src="/assets/Linkedin.svg" alt="Linkedin" width="30px"></a>
            </div>
        </div>
    </div>
    <ul class="footer d-flex">



        <ul class="sub-menu list-unstyled me-3">
            <li class="Menu-elem">
                <strong>
                    <a href="" class="footer-inicio">Inicio</a>
                </strong>
            </li>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Acerca de nosotros</a>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Contactos</a>
        </ul>


        <ul class="sub-menu list-unstyled me-3">
            <li class="Menu-elem">
                <strong>
                    <a href="" class="footer-Servicio">Servicios</a>
                </strong>
            </li>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Consultorías e implementación de proyectos</a>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Estudiantes</a>
        </ul>



        <ul class="sub-menu list-unstyled me-3">
            <li class="Menu-elem">
                <strong>
                    <a href="" class="footer-Oportunidades">Oportunidades</a>
                </strong>
            </li>
            <li class="sub-menu-elem"></li>
            <a href="text-decoration-none" class="sub-menu">Noticias</a>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Contactanos</a>
        </ul>



        <ul class="sub-menu list-unstyled me-3">
            <li class="Menu-elem">
                <strong>
                    <a href="" class="footer-Nosotros">Nosotros</a>
                </strong>
            </li>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Analítica de datos</a>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Intervención socio emocional</a>
            <li class="sub-menu-elem"></li>
            <a href="" class="sub-menu">Comunicaciones</a>
        </ul>

        <div>
            <strong>
                <p class="text-light">Llámanos o escríbenos.</p>
            </strong>
            <div class="d-flex">
                <img class="pb-3 pe-3" src="/assets/e-mail.svg" alt="e-mail">
                <div>
                    <strong>
                        <p class="text-light tittle-footer">Por e-mail</p>
                    </strong>

                    <p class="text-light">contactenos&#64;fundacionantivirusparaladesercion.org</p>

                </div>
            </div>

            <div class="d-flex">
                <img class="pb-3 pe-3" src="/assets/porwhatsApp.svg" alt="Icono WhatsApp">
                <div>
                    <strong>
                        <p class="text-light tittle-footer">Por WhatsApp</p>
                    </strong>
                    <p class="text-light">+57 3226367781</p>


                </div>

            </div>

        </div>

    </ul>
    <hr class="pb-5" />
     



</footer>