
<section class="intro">
        <div class="text-container">
            <h1>Tu futuro inicia aquí.</h1>
            <p>
                En la Fundación Antivirus para la Deserción creemos que cada persona merece acceso a 
                <span class="highlight">las mejores oportunidades.</span> Por eso, ofrecemos una plataforma personalizada donde puedes explorar becas, cursos y programas adaptados a tus intereses y necesidades.
            </p>
            <div class="buttons">
                <button class="contact-button">Contáctanos</button>
                <span><a href="#">o conoce sobre nosotros</a></span>
            </div>
        </div>
        <div class="image-container">
            <img src="/assets/javimocho.svg" alt="Mascota Antivirus"/>
        </div>
    </section>