#chat-bot {
    width: 374px;
    height: 396px;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #ECECEC ;
    padding: 10px;
}

#chat-header {
    font-family: Impact, sans-serif;
    background-color: #ECECEC ;
    padding: 10px;
    display: flex;
    align-items: center;
}

#chat-logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#chat-messages {
    width: 360px;
    height: 300px;
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #ECECEC;
    > :nth-child(1){
        background-color: #DCEBF9;
        padding: 5px;
        border-radius: 10px 10px 10px 0px;
        display: flex;
        align-items: center;
        > p {
            margin: 0;
            align-items: center;
        }
    }
    >:nth-child(2){
        background-color: #c4daf0;
        border-radius: 10px 10px 10px 0px;
        margin-top: 4px;
    }
}

#chat-input-container {
    width: 300px;
    height: 51.09px;
    background-color: #E0E0E0;
    padding: 10px;
    border-radius: 10.87px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

#chat-input {
    display: flex;
    align-items: center;
    width: 100%;
}

#user-input {
    flex: 1;
    padding: 5px;
    border: none;
    border-radius: 10.87px;
    outline: none;
    font-size: 20px;
    margin: 5px;
    background-color: #E0E0E0;
}

#send-button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #000000;
}


