#chat-bot {
    width: 374px;
    height: 396px;
    border: 1px solid #ccc;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    box-shadow: #ECECEC;
    overflow: hidden;
}

#chat-header {
    background-color: #ECECEC;
    padding: 10px;
    display: flex;
}

#chat-logo {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}

#chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #ECECEC;
}

#chat-input {
    display: flex;
    border-top: 1px solid #ccc;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 14px;
}

#send-button {
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#send-button:before {
    content: '';
    font-size: 18px;
    color: #007BFF;
}
