<div class="container-xxl d-flex" style="background-color: #2f6475">
  <div class="fondo w-50">
    <div class="py-4">
      <h2 class="text-center fs-1 fw-bold" style="color: #2c395b">
        ¡Obtén los siguientes <br />
        beneficios!
      </h2>
    </div>
    <div style="height: 646px" class="d-flex">
      <div
        style="height: 100%; background-color: #ffb90867"
        class="position-relative w-50"
      >
        <h3 class="text-center py-4" style="color: #2c395b">
          Registro y creación del perfil personal
        </h3>
        <p class="px-4 fw-medium" style="text-align: justify">
          Accede a nuestra plataforma y crea tu perfil personal para recibir
          información sobre las oportunidades de becas y apoyos educativos
          disponibles.
        </p>
        <div
          style="
            -webkit-box-shadow: -9px -8px 11px 0px rgba(64, 63, 64, 1);
            -moz-box-shadow: -9px -8px 11px 0px rgba(64, 63, 64, 1);
            box-shadow: -9px -8px 11px 0px rgba(64, 63, 64, 1);
            background-color: #708bc667;
            height: 50%;
          "
          class="position-absolute w-75 bottom-0 end-0"
        >
          <h3 class="text-center py-4" style="color: #2c395b">
            Recomendaciones personalizadas
          </h3>
          <p class="px-4 fw-medium">
            Recibe recomendaciones personalizadas de becas y programas de apoyo
            según tu perfil y necesidades académicas.
          </p>
        </div>
      </div>
      <div
        style="height: 100%; background-color: #83d8c886"
        class="position-relative w-50"
      >
        <h3 class="text-center py-4" style="color: #2c395b">
          Guardar <br />
          oportunidades
        </h3>
        <p class="px-4 fw-medium" style="text-align: justify">
          Guarda y organiza todas las oportunidades de becas que te interesen en
          un solo lugar, facilitando tu búsqueda y aplicación.
        </p>
        <div
          style="
            -webkit-box-shadow: -9px -8px 11px 0px rgba(64, 63, 64, 1);
            -moz-box-shadow: -9px -8px 11px 0px rgba(64, 63, 64, 1);
            box-shadow: -9px -8px 11px 0px rgba(64, 63, 64, 1);
            background-color: #dcebf988;
            height: 50%;
          "
          class="position-absolute w-75 bottom-0 start-0"
        >
          <h3 class="text-center py-4" style="color: #2c395b">
            Contenido exclusivo
          </h3>
          <p class="px-4 fw-medium">
            Accede a contenido exclusivo con consejos y recursos para mejorar tu
            rendimiento académico y mantener tu motivación durante tus estudios.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="py-5 w-50"
    style="
      background-color: #dcebf9;
      border-top-left-radius: 15%;
      border-bottom-left-radius: 15%;
    "
  >
    <h2 class="text-start" style="margin-top: 20px; margin-left: 60px">
      Crear Cuenta
    </h2>
    <div class="social-buttons text-center my-3 text-secondary py-3">
      <button
        style="
          width: 35%;
          background-color: #ffffff;
          -webkit-box-shadow: 0px 4px 8px -1px rgba(150, 147, 150, 1);
          -moz-box-shadow: 0px 4px 8px -1px rgba(150, 147, 150, 1);
          box-shadow: 0px 4px 8px -1px rgba(150, 147, 150, 1);
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          margin: 5px;
        "
        (click)="signInWithGoogle()"
      >
        <img
          src="assets/Google.png"
          alt="Google"
          style="height: 20px; vertical-align: middle"
        />
        Sign up with Google
      </button>
      <button
        class="button"
        (click)="signInWithFacebook()"
        style="
          width: 35%;
          background-color: #ffffff;
          -webkit-box-shadow: 0px 4px 8px -1px rgba(150, 147, 150, 1);
          -moz-box-shadow: 0px 4px 8px -1px rgba(150, 147, 150, 1);
          box-shadow: 0px 4px 8px -1px rgba(150, 147, 150, 1);
          border: 1px solid #ccc;
          border-radius: 5px;
          padding: 10px;
          margin: 5px;
        "
      >
        <img
          src="assets/Facebook.png"
          alt="Facebook"
          style="height: 20px; vertical-align: middle"
        />
        Sign up with Facebook
      </button>
    </div>
    <div class="text-center fs-4 text-secondary">- o -</div>
    <form class="style-list" style="padding: 0 40px">
      <div>
        <img src="assets/icon-user.svg" alt="icon nombre" />
        <input
          type="text"
          placeholder="Nombres"
          style="width: 100%; padding: 10px; margin-bottom: 10px"
        />
      </div>
      <div>
        <img src="assets/icon-user.svg" alt="icon apellido" />
        <input
          type="text"
          placeholder="Apellidos"
          style="width: 100%; padding: 10px; margin-bottom: 10px"
        />
      </div>
      <div>
        <img src="assets/icon-email.svg" alt="icon email" />
        <input
          type="email"
          placeholder="Correo Electrónico"
          style="width: 100%; padding: 10px; margin-bottom: 10px"
        />
      </div>
      <div>
        <img src="assets/icon-calendar.svg" alt="icon calendar" />
        <input
          type="date"
          placeholder="Día de nacimiento"
          style="width: 100%; padding: 10px; margin-bottom: 10px"
        />
      </div>
      <div>
        <img src="assets/icon-sec.svg" alt="icon candado" />
        <input
          type="password"
          placeholder="Contraseña"
          style="width: 100%; padding: 10px; margin-bottom: 10px"
        />
      </div>
      <div>
        <img src="assets/icon-sec.svg" alt="icon candado" />
        <input
          type="password"
          placeholder="Confirma tu Contraseña"
          style="width: 100%; padding: 10px; margin-bottom: 20px"
        />
      </div>
      <button
        type="submit"
        style="
          width: 100%;
          padding: 10px;
          background-color: #001a36;
          color: white;
          border-radius: 5px;
          border: none;
        "
      >
        CREAR CUENTA
      </button>
    </form>
    <div class="text-center mt-2">
      <small>¿Ya tienes creada una cuenta? <a href="#">Inicia sesión</a></small>
    </div>
  </div>
</div>
