.ul-container{
  height: 70px;
  background-color: #F8F2F2;
}

.custom-spacing{
  margin-left: -50px;
  margin-right: -50px;
  > a {
    color: black;
    font-weight: bold;
  }
}

.buttons-edit{
  border-radius: 5px;
  padding: 7px 40px;
  margin-left: 50px;
  margin-right: -150px;
  > a {
    color: white;
    font-weight: bold;
  }
}

.custom-spacing:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
}


.li-style:nth-child(5){
  background: linear-gradient(to left, #04A9CD 0%,#025567 67%);
}
.li-style:nth-child(5):active{
  background: #025567;
  color: #ffffff;
}
.li-style:nth-child(6){
  background: linear-gradient(to left, #98CD04 0%,#4C6702 67%);
}
.li-style:nth-child(6):active{
  background: #4C6702;
  color: #ffffff;
}

.link-text{
  font-family: Raleway;
}
