<div class="contenedor">
    <div class="Link">
        <h2 class="titulo">CONSULTORÍAS E IMPLEMENTACIÓN DE PROYECTOS PARA LA PERMANENCIA EN:</h2>
        <ul class ="lista" >
            <li>Universidades</li>
            <li>Bootcamps</li>
            <li>Colegios</li>
            <li>Programas de becarios de /ONG's/Empresas</li>
        </ul>
    </div>
    <div class="contenedor2">
        <p class="parrafo">Ofrecemos servicios especializados que tienen como objetivo implementar, en compañía de universidades,
            colegios y bootcamps, estrategias para garantizar la permanencia educativa, la graduación y,
            consecuentemente la disminución de la deserción escolar. Nos enfocamos en el contexto singular de cada
            universidad, colegio o bootcamp y respetamos sus procesos pedagógicos y administrativos particulares.</p>
      <img src="/assets/muchacho.svg" alt="Muchacho sentado" width="800px" >     

    </div>

</div>