<div class="contenedor container-xxl">
  <div class="Link">
    <h2 class="titulo fs-1" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      CONSULTORÍAS E IMPLEMENTACIÓN DE PROYECTOS PARA LA PERMANENCIA EN:
    </h2>
    <ul class="lista row fs-4" style="font-family: Acumin;">
    <div class="col-6">
        <li>Universidades</li>
        <li>Bootcamps</li>
    </div>
      <div class="col-6">
        <li>Colegios</li>
        <li>Programas de becarios de /ONG's/Empresas</li>
      </div> 
    </ul>
  </div>
  <div class="contenedor2 container-lg">
    <p class="parrafo" style="font-family: Myriad; font-size: 20px;">
      Ofrecemos servicios especializados que tienen como objetivo implementar,
      en compañía de universidades, colegios y bootcamps, estrategias para
      garantizar la permanencia educativa, la graduación y, consecuentemente la
      disminución de la deserción escolar. Nos enfocamos en el contexto singular
      de cada universidad, colegio o bootcamp y respetamos sus procesos
      pedagógicos y administrativos particulares.
    </p>
    <img src="/assets/muchacho.svg" alt="Muchacho sentado" width="800px" />
  </div>
</div>
