<div class="container-xxl mt-5">
  <div class="link">
    <h2 class="titulo" style="font-family: Impact">
      FORTALECIMIENTO ACADEMICO:
    </h2>
  </div>
  <div class="contenedor2 row">
    <img class="col" src="./assets/fotovideo[1].svg" alt="imagen de video" />
    <p class="parrafo col">
      Búsqueda de tutores y mentores dispuestos recibir un módico estipendio por
      hora y ofrecer otra hora voluntaria. En este sentido, una vez encontrados
      los tutores, esta área es responsable de crear las citas para la tutoría
      uno a uno y talleres temáticos para un repaso complementario de clases y
      grupos de estudio.
    </p>
  </div>
</div>
