<p>intervencion works!</p>
<div class="contenedor">
    <div class="link">
        <h2 class=" titulo"> FORTALECIMIENTO ACADEMICO:</h2>
    </div>
    <div class="contenedor2">
        <img src="./assets/fotovideo[1].svg" alt="">
        <p class="parrafo"> Búsqueda de tutores y mentores dispuestos recibir un módico estipendio por hora y ofrecer
            otra hora voluntaria. En este sentido, una vez encontrados los tutores, esta área es responsable de crear
            las citas para la tutoría uno a uno y talleres temáticos para un repaso complementario de clases y grupos de
            estudio.
         </p>
    </div>
</div>