

.link {
    width:60%;
    background-color: #2d4c5d; 
    text-align: left;
    padding: 30px;
    box-shadow: 0px 13px 15px 0px rgba(0, 0, 0, 0.62);
}

.titulo {
    color: white; /* Color del texto del título */
    width: 100%;
    display: inline-block;
    height: 15px;
    text-align: center;
    font-size: 40px;
}

.contenedor2 {
    display: flex;
    flex-direction: row;
    border-radius: 0 0 5px 5px;
    width: 100%;
    align-items: center;
    justify-content:space-between;
    padding-top: 20px;
}

.parrafo {
    font-size: 20px;
    color: #000000; 
    margin: 0;
    font-family: 'Acumin';
}