<div class="contenedora">

    <div class="card">
        <img src="/assets/Comfama.jpg" alt="Logo Comfama" class="card-img">
        <h3 class="card-title">Alianza Empresarial - Comfama</h3>
        <div class="card-buttons">
            <button class="btn">Ver más...</button>
            <button class="btn btn-save">Guardar</button>
        </div>
    </div>

    <div class="card">
        <img src="/assets/Comfama.jpg" alt="Logo Comfama" class="card-img">
        <h3 class="card-title">Alianza Empresarial - Comfama</h3>
        <div class="card-buttons">
            <button class="btn">Ver más...</button>
            <button class="btn btn-save">Guardar</button>
        </div>
    </div>

    <div class="card">
        <img src="/assets/Comfama.jpg" alt="Logo Comfama" class="card-img">
        <h3 class="card-title">Alianza Empresarial - Comfama</h3>
        <div class="card-buttons">
            <button class="btn">Ver más...</button>
            <button class="btn btn-save">Guardar</button>
        </div>
    </div>
</div>




<p>cards-overflow works!</p>
