<body>
    <div class="container mt-5">
        <img src="/assets/gordosentado[1].svg" alt="Imagen de fondo" class="background-image">
        <div class="text-block">
            <h1>COMUNICACIONES</h1>
            <p class="first-paragraph">Esta área está conformada por comunicadores sociales y diseñadores gráficos.</p>
            <p>Este equipo crea y promueve acciones comunicativas, ajustadas a la caracterización y construidas a través de las necesidades y segmentación de los estudiantes.</p>
            <p>Esta área se encarga de difundir información y elaborar contenidos audiovisuales y utilizar medios tecnológicos, plataformas y otros recursos de interacción e información.</p>
            <p>El área de Comunicación y Marketing también se encarga del marketing digital y marketing por correo electrónico a las partes interesadas del proyecto, como directores, profesores, estudiantes, empresas interesadas en los servicios prestados por FATV.</p>
            <div class="social-icons">
                <a href="https://www.whatsapp.com" target="_blank"><img src="/assets/WhatsApp.svg" alt="WhatsApp"></a>
                <a href="https://www.instagram.com" target="_blank"><img src="/assets/Instagram.svg" alt="Instagram"></a>
                <a href="https://www.youtube.com" target="_blank"><img src="/assets/YouTube.svg" alt="YouTube"></a>
                <a href="https://www.tiktok.com" target="_blank"><img src="/assets/TikTok.svg" alt="TikTok"></a>
                <a href="https://www.linkedin.com" target="_blank"><img src="/assets/Linkedin.svg" alt="LinkedIn"></a>
            </div>
        </div>
    </div>
</body>