<div class="bg-fondo position-relative">
    <div class="position-absolute w-100">
        <h2 class="text-center text-white fw-bold fs-1 px-5">BUSCAMOS DISMINUIR LOS NIVELES DE DESERCIÓN ESTUDIANTIL EN COLOMBIA</h2>
    </div>
    <div class="d-flex w-100">
        <div class="w-50 fs-2 d-flex flex-column align-items-center justify-content-center pt-5">
            <p class="w-75">Siendo esta nuestra manera de aportar al logro de un país con más educación y consecuentemente con más desarrollo.</p>
            <p class="w-75">Identificar estudiantes con vulnerabilidades y acompañarlos integralmente, a través de un ecosistema de estrategias</p>
            <a class="w-75 text-black" target="_blank" href="https://fundacionantivirusparaladesercion.org/fundacion.php">Conoce más aquí</a>
        </div>
        <img class="w-50 pe-5" src="assets/muchachosentado.svg" alt="muchacho sentado escuchando">
    </div>
</div>