<div class="">
  <h1>NOTICIAS</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col d-flex me-1">
      <img src="/assets/noticias1.svg" alt="noticias1">

    </div>
    <div class="col">
      <img src="/assets/noticias2.svg" alt="noticias2">
    </div>
    <div class="col">
      <p class="fs-3">LA DESERCIÓN UNIVERSITARIA</p>
      <button type="button" class="btn btn-primary d-flex mt-5">Leer mas...</button>
    </div>
    <div class="col">
      <p class="fs-3">LA IMPORTANCIA DE LOS DATOS PARA ACABAR CON LA DESERCIÓN</p>

      <button type="button" class="btn btn-primary d-flex mt-5">Leer mas...</button>

    </div>
    <div class="col">
      <P class="fs-3">CONVERSATORIO EN
        UNIVERSIDAD DE
        ENVIGADO

      </P>

      <button type="button" class="btn btn-primary d-flex mt-5">Leer mas...</button>

    </div>
    <div class="col">
      <img src="/assets/noticias3.svg" alt="noticias3">

    </div>
  </div>
</div>