
<h1>Noticias</h1>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img src="/assets/noticias1.svg" alt="noticias1">
    </div>
    <div class="col d-flex">
      <img src="/assets/noticias2.svg" alt="noticias2"> 
      <div class="text-center">
        <p>LA DESERCIÓN UNIVERSITARIA</p>
      </div>

       <div class="w-25 p-3">
        <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .95rem; --bs-btn-padding-x: .95rem; --bs-btn-font-size: .95rem;">
        Leer mas...
        </button>
       </div>

    </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <p class="text-xxl-end">LA IMPORTANCIA DE LOS DATOS PARA ACABAR CON LA DESERCIÓN</p>
      <div>
        <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .95rem; --bs-btn-padding-x: .95rem; --bs-btn-font-size: .95rem;">
        Leer mas...
    </button>
      </div>
    </div>
    <div class="col d-flex text-grid text-center">
      <p>CONVERSATORIO EN UNIVERSIDAD DE ENVIGADO</p>
      <div class="w-25 p-3">
        <button type="button" class="btn btn-primary"
        style="--bs-btn-padding-y: .95rem; --bs-btn-padding-x: .95rem; --bs-btn-font-size: .95rem;">
        Leer mas...
        </button>
      </div>

       <div>
         <img src="/assets/noticias3.svg" alt="noticias3">
       </div>

     
    </div>
  </div>
</div>
    
        

   


        
      
      
        

          




