.contenedor {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 100px 100px 0px 100px;
}

.tarjeta {
    background-color: #d9e4ec;
    border-radius: 10px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    position: relative;
}

.tarjeta img {
    height: 150px;
    max-width: 140px;
    margin-right: 20px;
    border-radius: 5px;
}

.texto {
    flex: 1;
    position: relative;
}

.titulo2 {
    font-size: 2em;
    margin: 0 0 10px 0;
    color: #000000;
}

.parrafo1 {
    font-size: 1em;
    margin: 0 0 20px 0;
    color: #000000;
    max-width: 500px;
}

button {
    background-color: #d9e4ec;
    color: black ;
    border: solid 1px #3f8080 ;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    position: absolute; /* Hacer que el botón tenga posicionamiento absoluto */
    bottom: 20px; /* Ajusta según sea necesario */
    right: 20px; 
}

button:hover {
    color: white ;
    background-color: #080250;
}

.ver-mas  {
    width:100%;
    text-align: center;    
    margin-top: 20px;
    
}

.ver-mas button  {
    background-color: #d9e4ec;
    position: relative;
}

.ver-mas button:hover {
    background-color: #080250;
}