<div class="d-flex ms-4 mb-5">
    <strong>
        <h1>A LOS ESTUDIANTES</h1>
    </strong>
</div>


<div class="container d-flex ms-5">
    <div class="row">
        <div class="col">
            <div class="pb-5">
                <strong>
                    <h3>APOYO ACADÉMICO</h3>
                </strong>
            </div>
            <h5>Tutorías/Mentorías</h5>
            <div class="d-flex pb-5 pe-5">
                <p>
                    Las tutorias academicas
                    son un espacio de repaso
                    personalizado de aquellas
                    materias
                    que representan mayor
                    dificultad.
                </p>
            </div>
            <div class="row pt-3 pe-5 bg-success text-black">
                <h5>Grupos de Estudio</h5>
                <p class="text-start">Es un espacio de
                    encuentro para Grupos
                    pequeños de estudiantes
                    enfocado en el repaso de
                    materias especificas.
                </p>

            </div>
        </div>
        <div class="col">
            <img src="/assets/gridEstudiantes.svg" alt="GridEstudiantes">
        </div>
        <div class="col">
            <img src="/assets/GridEstudiantes2.svg" alt="GridEstudiantes2">

            <div class="col pt-5 pe-5 ps-5">
                <h5>Nivélate con Antivirus</h5>
                <p class="text-start">
                    Es una estrategia que
                    busca acompañar
                    abiertamente a todos los
                    estudiantes que se
                    encuentran en estado de
                    vulnerabilidad
                    académica y buscan
                    aprobar los cursos.
                </p>
            </div>
        </div>

    </div>
</div>