
    <div>
        <strong>
            <h1>A LOS ESTUDIANTES</h1>
        </strong>
    </div>



    <h2>APOYO ACADÉMICO</h2>

    <div>
        <strong>
            <h4>Tutorías/Mentorias</h4>
        </strong>
        <p>Las tutorías académicas son un espacio de repaso
            personalizado de aquellas materias
            que representan mayor dificultad.</p>
    </div>


    <div>
        <strong>
            <h4>Grupos de Estudio</h4>
        </strong>
        <p>Es un espacio de
            encuentro para grupos
            pequeños de estudiantes
            enfocado en el repaso de
            materias específicas.
        </p>
    </div>


    <div>
        <strong>
            <h4>Nivélate con Antivirus</h4>
        </strong>
        <p>Es una estrategia que
            busca acompañar
            abiertamente a todos los
            estudiantes que se
            encuentran en estado de vulnerabilidad
            académica y buscan
            aprobar los cursos.
        </p>
    </div>
   
    
