<div>
    <div class="contenedor">
        <div class="tarjeta">
            <img src="/assets/Rectangle 62.png" alt="Nodo EAFIT">
            <div class="texto">
                <h2 class="titulo2">Nodo EAFIT</h2>
                <p class="parrafo1">Participa en programas de formación y talleres en la Universidad EAFIT en la era de la tecnología para potenciar tus habilidades y conocimientos. ¡Inscríbete hoy!</p>
                <button type="button">mas información...</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="/assets/Rectangle 63.png" alt="Becas vélezreyes*">
            <div class="texto">
                <h2 class="titulo2">Becas vélezreyes*</h2>
                <p class="parrafo1">Ofrecen apoyo financiero a estudiantes destacados. Solicita tu beca y alcanza tus metas educativas.</p>
                <button type="button">mas información...</button>
            </div>
        </div>

        <div class="tarjeta">
            <img src="/assets/Rectangle 64.png" alt="Comfama">
            <div class="texto">
                <h2 class="titulo2">Comfama</h2>
                <p class="parrafo1">Accede a programas educativos y recreativos con Comfama. Encuentra la oportunidad perfecta para tu crecimiento personal y profesional.</p>
                <button type="button">mas información...</button>
            </div>
        </div>

        <div class="ver-mas">
            <button type="button">ver más...</button>
        </div>
    </div>
</div>












































<!--no tocar este archivo-->
<app-oportunity-pagination />
<app-noticias />
<app-contacto />